{% extends 'base.html.twig' %}

{% block title %}New Menu{% endblock %}

{% block body %}
    <h1>Create new Menu</h1>

    {{ include('menus/_form.html.twig') }}

    <a href="{{ path('app_menus_index') }}">back to list</a>
{% endblock %}
