{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}
<div class="space-y-4">
    {{ form_widget(form, {'attr': {'class': 'w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
</div>
<button class="bg-blue-500 text-black px-6 py-2 rounded-lg shadow-md hover:bg-blue-700 transition duration-300">
    {{ button_label|default('Save') }}
</button>
{{ form_end(form) }}