{% extends 'base.html.twig' %}

{% block title %}New Table{% endblock %}

{% block body %}
    <div class="container mx-auto p-6 bg-gray-100 rounded-lg shadow-md">
        <h1 class="text-2xl font-bold mb-6">Create new Table</h1>

        <div class="mb-4">
            {{ include('table/_form.html.twig') }}
        </div>

        <div class="mt-6 flex justify-center">
            <a href="{{ path('app_table_index') }}" 
               class="inline-flex items-center px-6 py-3 border border-gray-300 rounded-lg text-sm font-medium 
                      text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 
                      focus:ring-offset-2 focus:ring-amber-500 transition duration-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
                </svg>
                Back to list
            </a>
        </div>
    </div>
{% endblock %}